<br>
<br>
<br>

<div class="container">
  <h2>Welcome to your dashboard, <%= current_user.first_name %></h2>
  <hr>
  <ul class="nav nav-pills my-5" id="pills-tab" role="tablist">
    <li class="nav-item dashboard-tabs">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Offer your help</a>
    </li>
    <li class="nav-item dashboard-tabs">
      <a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Get help</a>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Hey</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div>
          <h3 class="mb-3">Offer your help</h3>
          <p><strong>All invitations by hosts asking for help: </strong></p>

          <% @invitations_as_volunteer.each do |invitation| %>

            <%= render "invitation-received-card", invitation: invitation %>

          <% end %>
        </div>
      </div>
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <div>
        <h3 class="mb-3">Get help</h3>
        <p><strong>All invitations you sent out and ask others for help: </strong></p>

        <% @invitations_as_host.each do |invitation| %>

          <%= render 'invitation-sent-card', invitation: invitation %>

        <% end %>
      </div>
    </div>
  </div>
</div>
