.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  border-radius: 50%;
}

.navbar-lewagon .navbar-brandtext {
  font-size: 30px;
  position: absolute;
  top: 15px; left: 75px;
  font-weight: normal;

  span {
  color: $red;
  }
}

