// img.card-img-top {
//   height: 150px;
// }


.card_offer {
  width: 240px;
  margin: 15px;
  // background-image: <% offer.volunteer.photo %>;
}

  .card-image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

.card-text {
  height: 80px;
  overflow-y: auto;
}
